@font-face {
  font-family: 'Iransans';
  src: local('Iransans'), url(./fonts/IRANSansMobile_Light.ttf) format('truetype');
}
*{
  font-family: Iransans;
}
.App{
background-image:url(./img/summerBackground.jpg) ;
background-repeat:none ;
background-size: cover;
}
